<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cancer Feed</title>
		<meta name="description" content="Hover Effect Ideas: Inspiration for subtle hover effects" />
		<meta name="keywords" content="hover effect, inspiration, grid, thumbnail, transition, subtle, web design" />
		<meta name="author" content="Sean Saito" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,800,500,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="static/css/set2.css" />
		<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<header class="codrops-header">
				<h1>The Cancer Feed<span>Your go-to portal for learning about cancer</span></h1>
				<nav class="codrops-demos">
					<a href="{{ url_for('index') }}">News</a>
					<a href="{{ url_for('resources') }}">Resources</a>
					<a href="{{ url_for('feedback') }}">Feedback</a>
          <a class="current-demo" href="{{url_for('prize')}}">Prize</a>
				</nav>
			</header>
			<div class="content">
        <h1>Congratulations! You have found the easter egg!</h1>
        <h3>Email your room # to saitosean@ymail.com with the code sustio_mode to confirm. You will receive a prize.</h3>
			<section class="related">
				<p>Created by Sean Saito for Foundations of Science II.</p>
        <p>Special Thanks to Professor Melissa Fullwood</p>
			</section>
		</div><!-- /container -->
		<script>
			[].slice.call( document.querySelectorAll('a[href="#"') ).forEach( function(el) {
				el.addEventListener( 'click', function(ev) { ev.preventDefault(); } );
			} );
		</script>
	</body>
</html>
